<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta name="theme-color" content="#0095dd">

    <title><?js= this.header.title ?> - <?js= title ?></title>

    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" media="all" />
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>

    <link type="text/css" rel="stylesheet" href="codemirror/codemirror.min.css" media="all" />
    <script src="codemirror/codemirror.min.js"></script>

    <link type="text/css" rel="stylesheet" href="styles/dkdoc-styles.min.css" media="all" /> 
</head>

<body>
    <noscript>
        <style>
            [data-simplebar] {
                overflow-x: hidden;
                overflow-y: auto;
            }
        </style>
    </noscript>
    
    <header class="side-header">
        <h1>
            <?js if (this.header.logo.link) { ?><a href="<?js= this.header.logo.link ?>" target="_blank"><?js } ?>
            <?js if (this.header.logo.type === 'img') { ?><img src="<?js= this.header.logo.src ?>" alt="DKDoc:"><?js } ?>
            <?js if (this.header.logo.type === 'text') { ?><span><?js= this.header.logo.src ?></span><?js } ?>
            <?js if (this.header.logo.link) { ?></a><?js } ?>
            <?js= this.header.title ?>
        </h1>
    </header>

    <div class="nav-container">
        <input id="nav-trigger" type="checkbox" class="toggler">
        <label for="nav-trigger" class="nav-icon">
            <div class="nav-bars"><div></div></div>
        </label>
        <nav id="nav">
            <header class="nav-header">
                <h2><a href="index.html">Home</a></h2>
                <input id="search" class="search" type="search" name="search" placeholder="Search" results="0">
                <div id="sList" class="sList show"></div>
            </header>
            <?js= this.nav ?>
        </nav>
    </div>

    <main id="main">
        <header class="main-header">
            <?js var splitTitle = title.split(':'); ?>
            <h2><span><?js= splitTitle[0] ?><?js if(splitTitle.length > 1) { ?>:<?js } ?></span><?js if(splitTitle.length > 1) { ?> <?js= splitTitle[1] ?><?js } ?></h2>
        </header>
        <section class="main-section" data-simplebar>
            <?js= content ?>
        </section>
    </main>

    <footer>
        Documentation generated by <a href="https://github.com/jsdoc/jsdoc">JSDoc <?js= env.version.number ?></a>
        <?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
    </footer>

    <script src="scripts/dk_searchlist.min.js"></script>
    <script>
        function closeNav() {
            const triggerElement = document.getElementById('nav-trigger');
            const navElement     = document.getElementById('nav');

            if (triggerElement.checked) {
                triggerElement.checked = false;
                navElement.classList.remove('open');

                if (navElement.classList.length === 0) {
                    navElement.removeAttribute('class');
                }
            }
        }
        
        window.onload = () => {
            const triggerElement = document.getElementById('nav-trigger');
            const navElement     = document.getElementById('nav');

            triggerElement.addEventListener('change', event => {
                navElement.classList.toggle('open');

                if (navElement.classList.length === 0) {
                    navElement.removeAttribute('class');
                }
            });
            
            const sb = new SimpleBar(document.getElementById('sList'));
            const sl = new SearchList(sb.getContentElement(), document.getElementById('search'), navIndex);

            sl.onSearch = () => {
                sb.recalculate();
            };
        };
    </script>
</body>
</html>
