:root {
    --theme-color: rgba(0, 142, 223, 1);
    --themeh-color: rgba(245, 245, 245, 1);
    --themes-color: rgba(223, 223, 223, 1);

    --primary-bg: rgba(42, 42, 42, 1);
    --secondary-bg: rgba(23, 23, 23, 1);
    
    --primary-color: rgba(232, 232, 232, 1);
    --secondary-color: rgba(153, 153, 153, 1);

    --link-color: rgba(0, 162, 255, 1);

    --navi-width: 30rem;

    --require-color: rgba(42, 132, 73, 1);
    --augment-color: rgba(42, 132, 73, 1);
    --type-color: rgba(135, 185, 241, 1);
    --param-color: rgba(135, 185, 241, 1);
    --this-color: rgba(0, 142, 223, 1);
    --event-color: rgba(255, 165, 0, 1);
    --fire-color: rgba(255, 165, 0, 1);
    --listento-color: rgba(255, 165, 0, 1);
    --listenof-color: rgba(255, 165, 0, 1);
    --modify-color: rgba(255, 255, 0, 1);
    --throw-color: rgba(217, 83, 79, 1);
    --yield-color: rgba(92, 184, 92, 1);
    --return-color: rgba(92, 184, 92, 1);
    --example-color: rgba(173, 173, 173, 1);
    --detail-color: rgba(173, 173, 173, 1);
    --provide-color: rgba(42, 132, 73, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    z-index: 0;
    width: 100vw;
    height: 100vh;

    background: var(--primary-bg);
    color: var(--primary-color);

    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;

    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 200;
    line-height: 1;
}

h1 {
    font-size: 3.6rem;
    letter-spacing: -2px;
}

h2 {
    font-size: 3.0rem;
    letter-spacing: -1px;
}

h3 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    letter-spacing: -0.5px;
}

h3.subsection-title {
    margin-bottom: 2rem;
    color: var(--theme-color);
}

h4 {
    font-size: 1.8rem;
    letter-spacing: -0.33px;
}

h5 {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.01em;
}

h6 {
    font-size: 1rem;
    font-style: italic;
    letter-spacing: -0.01em;
}

a, 
a:visited, 
a:active {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

dl {
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: auto;
}

dt::after {
    content: ':';
}


/**
 * custom element
 */
.toggler {
    display: none;
}

.arrow-icon {
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
}

.arrow-icon > div::before, 
.arrow-icon > div::after {
    position: absolute;
    width: 100%;
    height: 0.5rem;
    background: var(--theme-color);
    content: ' ';
    transition: all 0.4s ease;
}

.arrow-icon > div::before {
    transform: rotate(45deg) translateY(0.7rem);
}

.arrow-icon > div::after {
    transform: rotate(-45deg) translateY(0.7rem);
}


/**
 * Layout
 */
header.side-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8rem;
    padding: 2.2rem 1rem;

    background: var(--theme-color);
    color: var(--themeh-color);
    
    overflow: hidden;
}

header.side-header h1 a:hover {
    text-decoration: none;
}

header.side-header h1 span {
    color: var(--themes-color);
    font-size: 3rem;
}

header.side-header h1 img {
    height: 3.6rem;
    vertical-align: top;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 2.5rem;
    padding: 0.5rem;

    background: var(--secondary-bg);
    color: var(--secondary-color);

    text-align: center;
    font-size: 1rem;

    overflow: hidden;
}


/**
 * Navigation
 */
/* Navigation "Button" */
.nav-container .nav-icon {
    position: fixed;
    right: 2.5rem;
    bottom: 3.5rem;
    z-index: 1000;
    width: 5rem;
    height: 5rem;

    background: rgba(13, 13, 18, 0.75);
    border-radius: 50%;
    box-shadow: -2px -2px 5px 0px rgba(72, 72, 72, 0.25), 2px 2px 5px 0px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}

.nav-container .nav-icon .nav-bars {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;

    align-items: center;
    justify-content: center;
    
    transition: all 0.4s ease;
}

/* navicon-lines */
.nav-container .nav-icon .nav-bars > div {
    position: relative;
    width: 100%;
    height: 0.3rem;

    background: var(--theme-color);

    flex: none;
}

/* navicon-lines - top & bottom (move up) */
.nav-container .nav-icon .nav-bars > div::before,
.nav-container .nav-icon .nav-bars > div::after {
    position: absolute;
    top: -1rem;
    width: 100%;
    height: 0.3rem;

    background: inherit;

    content: '';
}

/* navicon-lines - move one down */
.nav-container .nav-icon .nav-bars > div::after {
    top: 1rem;
}

/* navicon-lines - toggler animation */
.nav-container .toggler:checked + .nav-icon .nav-bars {
    transform: rotate(135deg);
}

/* navicon-lines - turns lines into X */
.nav-container .toggler:checked + .nav-icon .nav-bars > div::before,
.nav-container .toggler:checked + .nav-icon .nav-bars > div::after {
    top: 0;
    transform: rotate(90deg);
}

/* navi */
.nav-container nav {
    position: absolute;
    top: 8rem;
    left: calc(-1 * var(--navi-width));
    z-index: 100;
    width: var(--navi-width);
    height: calc(100% - 10.5rem);

    background: var(--secondary-bg);
    color: var(--primary-color);

    transition: all 0.4s ease;
}

/* navi header */
.nav-container nav .nav-header {
    height: 12.5rem;
    padding: 2rem;
}

.nav-container .toggler:checked ~ nav,
.nav-container .toggler:checked ~ nav .nav-header,
.nav-container nav.open,
.nav-container nav.open .nav-header {
    left: 0;
}

.nav-container nav .nav-header h2 {
    margin-bottom: 2rem;
}

/* search element */
.nav-container nav .nav-header .search {
    width: 100%;
    height: 3.5rem;
    padding: 0 1.5rem;

    border: 1px solid rgba(222, 222, 222, 1);
    border-radius: 15px;

    font-size: 1.5rem;
}

.nav-container nav .nav-header .search:focus {
    outline: none;
}

/* search list*/
.nav-container nav .nav-header .sList {
    position: absolute;
    top: 10.6rem;
    left: calc(2rem + 10px);
    z-index: 1000;
    width: calc(var(--navi-width) - 4rem - 20px);
    max-height: calc(100vh - 21.1rem);
    background: rgba(42, 42, 42, 0.95);
    font-size: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: pointer;
}

.nav-container nav .nav-header .sList ul {
    padding: 0;
    list-style: none;
}

.nav-container nav .nav-header .sList ul li {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; 

    padding: 0.5rem;
    margin: 0.5rem 0;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    white-space: nowrap;
}

.nav-container nav .nav-header .sList ul li:hover,
.nav-container nav .nav-header .sList ul li.highlight {
    background: var(--theme-color);
}

.nav-container nav .nav-header .sList ul li:first-child {
    margin-top: 0;
}

.nav-container nav .nav-header .sList ul li:last-child {
    margin-bottom: 0;
}

.nav-container nav .nav-header .sList ul li span.search-name {
    text-align: left;
}

.nav-container nav .nav-header .sList ul li span.search-name a,
.nav-container nav .nav-header .sList ul li span.search-name a:hover {
    color: inherit;
    text-decoration: none;
}

.nav-container nav .nav-header .sList ul li span.search-name strong {
    padding: 0 0.2rem;
    background: rgba(255, 215, 0, 1);
    color: rgba(23, 23, 23, 1);;
}

.nav-container nav .nav-header .sList ul li span.search-group {
    color: var(--secondary-color);
    font-size: 1.2rem;
    text-align: right;
}


.nav-container nav .nav-header .sList ul li:hover span.search-group,
.nav-container nav .nav-header .sList ul li.highlight span.search-group {
    color: rgba(23, 23, 23, 1);
}

.sList ul li span.search-group.class::after,
.sList ul li span.search-group.member::after,
.sList ul li span.search-group.function::after,
.sList ul li span.search-group.event::after,
.sList ul li span.search-group.typedef::after {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    color: rgba(23, 23, 23, 1);
    border: 1px solid rgba(42, 42, 42, 1);
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6rem;
    text-align: center;
}

.sList ul li span.search-group.class::after {
    background: rgba(0, 142, 223, 1);
    content: 'C';
}

.sList ul li span.search-group.member::after {
    background: rgba(92, 184, 92, 1);
    content: 'm';
}

.sList ul li span.search-group.function::after {
    background: rgba(135, 185, 241, 1);
    content: 'f';
}

.sList ul li span.search-group.event::after {
    background: rgba(255, 165, 0, 1);
    content: 'E';
}

.sList ul li span.search-group.typedef::after {
    background: rgba(173, 173, 173, 1);
    content: 'TD';
}


/* navi content */
.nav-container nav .nav-section {
    height: calc(100% - 12.5rem);
    padding: 0 2rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/* navi subelement */
.subnav-container {
    position: relative;
    margin-bottom: 4rem;
}

.subnav-container:last-child {
    margin-bottom: 0;
}

.subnav-container label h4 {
    padding: 0.5rem 0;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
    text-transform: uppercase;
}

/* subnav arrow icon for toggling */
.subnav-container label .arrow-icon {
    display: none;
    top: 0.5rem;
    right: 0.5rem;
}

.subnav-container .toggler:checked + label > h4 ~ .arrow-icon > div::before,
.info-container .toggler:checked + label > h4 ~ .arrow-icon > div::before {
    transform: rotate(-45deg) translateX(-0.7rem);
}

.subnav-container .toggler:checked + label > h4 ~ .arrow-icon > div::after,
.info-container .toggler:checked + label > h4 ~ .arrow-icon > div::after {
    transform: rotate(45deg) translateX(0.7rem);
}

.subnav-container ul {
    padding-left: 1.5rem;
    border-left: 1px solid var(--theme-color);
    font-size: 1.5rem;
    list-style-type: none;
}

.subnav-container ul li {
    margin-top: 0.5rem;
}

.subnav-container ul li a,
.subnav-container ul li a:visited,
.subnav-container ul li a:active {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    line-height: 18px;
    color: var(--secondary-color);
}

/* collapsible */
.subnav-container.collapsible {
    margin-bottom: 2rem;
}

.subnav-container.collapsible label,
.info-container label {
    cursor: pointer;
}

.subnav-container.collapsible label .arrow-icon {
    display: block;
}

.subnav-container.collapsible ul {
    display: none;
    margin-bottom: 4rem;
}

.subnav-container.collapsible .toggler:checked ~ ul {
    display: block;
}


/**
 * Main content
 */
main {
    position: absolute;
    top: 8rem;
    left: 0;
    width: 100%;
    height: calc(100% - 10.5rem);
}

main header.main-header {
    height: 7rem;
    padding: 2rem;

    border-bottom: 1px solid var(--secondary-bg);
    box-shadow: var(--primary-box-shadow);
}

main header.main-header span {
    color: var(--theme-color);
}

main section.main-section {
    height: calc(100% - 7rem);
    padding: 2rem;

    overflow-x: hidden;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .nav-container .nav-icon {
        display: none;
    }

    .nav-container nav {
        left: 0;
    }

    .nav-container nav .nav-header {
        left: 0;
    }

    main {
        left: var(--navi-width);;
        width: calc(100% - var(--navi-width));
    }
}


/**
 * Container
 */
.container-group {
    margin-bottom: 4rem;
}

.container-group:last-child {
    margin-bottom: 0;
}

.container,
.overview-container,
.info-container {
    position: relative;
    margin-bottom: 4rem;
    background: rgba(42, 42, 47, 1);
    border: 1px solid var(--secondary-bg);
    border-radius: 5px;
    box-shadow: -2px -2px 5px 0px rgba(72, 72, 72, 0.25), 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
}

.overview-container {
    padding: 2rem;
}

.overview-container > div,
.info-container .info > div {
    padding: 2rem;
    margin-bottom: 2rem;
}

.overview-container > div:last-child,
.info-container .info > div:last-child  {
    margin-bottom: 0;
}

.container header h4,
.info-container h4 {
    padding: 1rem 2rem;

    background: var(--secondary-bg);
    color: var(--primary-color);

    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-weight: 700;
}

.container article {
    padding: 2rem;
}

.container.nopad article {
    padding: 0;
}

.container-dl dt,
.container-dl dd {
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--secondary-bg);
}

.container-dl dt:nth-last-child(2),
.container-dl dd:last-child {
    border-bottom: none;
}

.container-dl dt {
    border-right: 1px solid var(--secondary-bg);
    font-weight: 700;
}

/**
 * Readme
 */
.readme-article h1,
.readme-article h2,
.readme-article h3,
.readme-article h4,
.readme-article h5,
.readme-article h6 {
    margin-bottom: 1.5rem;
}

.readme-article p,
.readme-article ul,
.readme-article pre,
.readme-article table {
    margin-bottom: 4rem;
}

.readme-article p:last-child,
.readme-article ul:last-child,
.readme-article pre:last-child,
.readme-article table:last-child {
    margin-bottom: 0;
}

.readme-article pre {
    padding: 1rem 2rem;
    border: 1px solid var(--secondary-bg);
    border-radius: 5px;
    box-shadow: -2px -2px 5px 0px rgba(72, 72, 72, 0.25), 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
}

.readme-article table,
.info-table {
    width: 100%;
    border: 1px solid var(--secondary-bg);
    border-radius: 5px;
    border-spacing: 0;
}

.readme-article table thead,
.info-table thead  {
    background: rgba(37, 37, 42, 1);
}

.readme-article table thead tr th,
.info-table thead tr th {
    padding: 1rem;
    border-right: 1px solid var(--secondary-bg);
    border-bottom: 1px solid var(--secondary-bg);
    text-align: left;
}

.readme-article table thead tr th:first-child,
.info-table thead tr th:first-child {
    width: 15rem;
    border-top-left-radius: 4px;
}

.readme-article table thead tr th:last-child,
.info-table thead tr th:last-child {
    border-right: none;
    border-top-right-radius: 4px;
}

.readme-article table tbody tr td,
.info-table tbody tr td {
    padding: 0.5rem 1rem;
    border-right: 1px solid var(--secondary-bg);
    border-bottom: 1px solid var(--secondary-bg);
    background: rgba(47, 47, 52, 1);
    vertical-align: top;
}

.readme-article table tbody tr td:first-child,
.info-table tbody tr td:first-child {
    width: 15rem;
}

.readme-article table tbody tr td:last-child,
.info-table tbody tr td:last-child {
    border-right: none;
}

.readme-article table tbody tr:last-child > td,
.info-table tbody tr:last-child > td {
    border-bottom: none;
}

.readme-article table tbody tr:last-child > td:first-child,
.info-table tbody tr:last-child > td:first-child {
    border-bottom-left-radius: 4px;
}

.readme-article table tbody tr:last-child > td:last-child,
.info-table tbody tr:last-child > td:last-child {
    border-bottom-right-radius: 4px;
}


/**
 * info-container contains members and methods
 */
.info-container {
    margin-bottom: 2rem;
}

.info-container:last-child {
    margin-bottom: 0;
}

/* info arrow icon for toggling */
.info-container label .arrow-icon {
    top: 1.3rem;
    right: 2.5rem;
}

/* summary for members and methods */
.info-container label h4.summary,
.info-container .toggler:checked ~ label h4 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.info-summary {
    padding: 0 2rem 0 1rem;
    margin: 0.5rem;
    margin-left: 2rem;
    border-left: 2px solid var(--theme-color);
}

/* shows members and methods */
.info-container label h4 {
    padding: 1rem 2rem;
    padding-right: 6rem;
    background: var(--secondary-bg);
    border-radius: 4px;
    font-weight: 400;
}

.info-container label h4.deprecated::before {
    display: block;
    margin-bottom: 1rem;
    color: var(--throw-color);
    content: '@Deprecated';
}

.info-container label h4.highlight {
    border: 1px solid rgba(255, 215, 0, 1);
    border-radius: 4px;
}

.info-container label h4.deprecated + .arrow-icon {
    top: 2.3rem;
}


/**
 * info container for description, requirements and more information
 */
.info-container .info {
    position: absolute;
    bottom: 100vh;
    left: 100vw;
    padding: 2rem;
    border-top: 1px solid var(--secondary-bg);
    opacity: 0;
}

.info-container .toggler:checked ~ .info {
    position: static;
    opacity: 1;
}

/* info details */
.info-description,
.info-require,
.info-augment,
.info-type,
.info-param,
.info-this,
.info-event,
.info-fire,
.info-listento,
.info-listenof,
.info-modify,
.info-throw,
.info-yield,
.info-return,
.info-example,
.info-detail,
.info-provide {
    border: 1px solid var(--secondary-bg);
    border-left: 5px solid var(--theme-color);
    border-radius: 5px;
}

.info-description::before,
.info-require::before,
.info-augment::before,
.info-type::before,
.info-param::before,
.info-this::before,
.info-event::before,
.info-fire::before,
.info-listento::before,
.info-listenof::before,
.info-modify::before,
.info-throw::before,
.info-yield::before,
.info-return::before,
.info-example::before,
.info-detail::before,
.info-provide::before {
    display: block;
    margin-bottom: 1rem;
    color: var(--theme-color);
    content: 'Description';
}

.info-require {
    border-left-color: var(--require-color);
}

.info-require::before {
    color: var(--require-color);
    content: 'Requires';
}

.info-augment {
    border-left-color: var(--augment-color);
}

.info-augment::before {
    color: var(--augment-color);
    content: 'Extends';
}

.info-type {
    border-left-color: var(--type-color);
}

.info-type::before {
    color: var(--type-color);
    content: 'Type';
}

.info-param {
    border-left-color: var(--param-color);
}

.info-param::before {
    color: var(--param-color);
    content: 'Parameters';
}

.info-this {
    border-left-color: var(--this-color);
}

.info-this::before {
    color: var(--this-color);
    content: 'This';
}

.info-event {
    border-left-color: var(--event-color);
}

.info-event::before {
    color: var(--event-color);
    content: 'Event';
}

.info-fire {
    border-left-color: var(--fire-color);
}

.info-fire::before {
    color: var(--fire-color);
    content: 'Fires';
}

.info-listento {
    border-left-color: var(--listento-color);
}

.info-listento::before {
    color: var(--listento-color);
    content: 'Listens to Events';
}

.info-listenof {
    border-left-color: var(--listenof-color);
}

.info-listenof::before {
    color: var(--listenof-color);
    content: 'Listeners of This Event';
}

.info-modify {
    border-left-color: var(--modify-color);
}

.info-modify::before {
    color: var(--modify-color);
    content: 'Modifies';
}

.info-throw {
    border-left-color: var(--throw-color);
}

.info-throw::before {
    color: var(--throw-color);
    content: 'Throws';
}

.info-yield {
    border-left-color: var(--yield-color);
}

.info-yield::before {
    color: var(--yield-color);
    content: 'Yields';
}

.info-return {
    border-left-color: var(--return-color);
}

.info-return::before {
    color: var(--return-color);
    content: 'Returns';
}

.info-example {
    border-left-color: var(--example-color);
}

.info-example::before {
    color: var(--example-color);
    content: 'Examples';
}

.info-detail {
    border-left-color: var(--detail-color);
}

.info-detail::before {
    color: var(--detail-color);
    content: 'Details';
}

.info-provide {
    border-left-color: var(--provide-color);
}

.info-provide::before {
    color: var(--provide-color);
    content: 'Provides';
}

/* info details lists */
.info-require ul,
.info-require ol,
.info-augment ul,
.info-augment ol,
.info-fire ul,
.info-fire ol,
.info-listento ul,
.info-listento ol,
.info-listenof ul,
.info-listenof ol,
.info-modify ul,
.info-modify ol,
.info-example ul,
.info-example ol {
    padding-left: 2rem;
}

.info-require ol,
.info-augment ol,
.info-fire ol,
.info-listento ol,
.info-listenof ol,
.info-modify ol,
.info-example ol {
    font-size: 1.2rem;
}

.info-require ul li,
.info-require ol li,
.info-augment ul li,
.info-augment ol li,
.info-fire ul li,
.info-fire ol li,
.info-listento ul li,
.info-listento ol li,
.info-listenof ul li,
.info-listenof ol li,
.info-modify ul li,
.info-modify ol li,
.info-example ul li,
.info-example ol li {
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.info-example ul li,
.info-example ol li {
    margin-bottom: 1.5rem;
}

.info-require ul li:last-child,
.info-require ol li:last-child,
.info-augment ul li:last-child,
.info-augment ol li:last-child,
.info-fire ul li:last-child,
.info-fire ol li:last-child,
.info-listenof ul li:last-child,
.info-listenof ol li:last-child,
.info-modify ul li:last-child,
.info-modify ol li:last-child,
.info-example ul li:last-child,
.info-example ol li:last-child {
    margin-bottom: 0;
}

/* info details subdetails */
.example-caption {
    padding: 0.5rem;
    font-style: italic;
}

.description-prop {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.info-detail dl,
.info-provide dl {
    grid-row-gap: 1rem;

    padding: 1rem;
    background: rgba(47, 47, 52, 1);
    border: 1px solid var(--secondary-bg);
    border-radius: 5px;
}

.info-detail dl dt ul,
.info-detail dl dd ul {
    padding: 0;
    list-style-type: none;
}

.info-modify ul li dl {
    grid-template-columns: 5rem auto;
}


/**
 * info table for parameter view
*/
.info-table {
    margin-bottom: 2rem;
}

.info-table:last-child {
    margin-bottom: 0;
}

.info-table .info-table {
    margin-bottom: 0.5rem;
}

.info-table tbody tr td ul {
    padding: 0;
    list-style: none;
}


/**
 * tutorials
 */
 header.tutorial-header {
    margin-bottom: 1.5rem;
}

article.tutorial-article {
    font-size: 1.6rem;
}


/**
 * tamplate defaouts
 */
.param-type {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-weight: 200;
}

.attribs,
.attribs a,
.ancestors,
.ancestors a,
.signature,
.type-signature,
.signature-attributes {
    color: var(--secondary-color);
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-weight: 200;
}

.signature {
    color: var(--primary-color);
}

.type-signature,
.signature-attributes {
    font-style: italic;
}

.signature-attributes {
    font-size: 75%;
}

.variation {
    display: none;
}

.disabled {
    color: var(--secondary-color);
    text-decoration: line-through;
}

tt,
kbd,
samp,
.name
.params .name,
.props .name,
code,
.name code {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}


/**
 * CodeMirror customizations to view the source
 */
.source-container {
    width: 100%;
    height: calc(100vh - 21.5rem);
}

 .CodeMirror {
    height: 100%;
    border: 1px solid var(--secondary-bg);
    border-radius: 10px;
    box-shadow: -2px -2px 5px 0px rgba(72, 72, 72, 0.25), 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
}

.example-container .CodeMirror {
    height: 100%;
    border-radius: 5px;
    box-shadow: none;
}

.CodeMirror-overlayscroll-vertical div {
    background: var(--theme-color);
    opacity: 0.5;
}

/**
 * CodeMirror theme customization
 */
.cm-s-dk_dark  { font-family: Consolas, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif; font-size: 1.2rem; }
.cm-s-dk_dark.CodeMirror { background: rgba(37, 37, 42, 1); color: #B1D4C9; } 

.cm-s-dk_dark span.cm-meta { color: #A586B6; }
.cm-s-dk_dark span.cm-number { color: #B5C077; }
.cm-s-dk_dark span.cm-keyword { color: #A586B6; }
.cm-s-dk_dark span.cm-def { color: #DCCD79; }
.cm-s-dk_dark span.cm-variable { color: #9CCDC4; }
.cm-s-dk_dark span.cm-variable-2 { color: #9CCDC4; }
.cm-s-dk_dark span.cm-variable-3 { color: #9CCDC4; }
.cm-s-dk_dark span.cm-type { color: #3F9CCA; }
.cm-s-dk_dark span.cm-property { color: #FFC66D; }
.cm-s-dk_dark span.cm-operator { color: #D4D4D4; }
.cm-s-dk_dark span.cm-string { color: #CE8349; }
.cm-s-dk_dark span.cm-string-2 { color: #CE8349; }
.cm-s-dk_dark span.cm-comment { color: #529949; font-style: italic; } 
.cm-s-dk_dark span.cm-link { color: #A586B6; }
.cm-s-dk_dark span.cm-atom { color: #A586B6; }
.cm-s-dk_dark span.cm-error { color: #BC3F3C; }
.cm-s-dk_dark span.cm-tag { color: #629755; font-weight: bold; font-style: italic; text-decoration: underline; }
.cm-s-dk_dark span.cm-attribute { color: #B5C077; }
.cm-s-dk_dark span.cm-qualifier { color: #529949; }
.cm-s-dk_dark span.cm-bracket { color: #B1D4C9; }
.cm-s-dk_dark span.cm-builtin { color: #FF9E59; }
.cm-s-dk_dark span.cm-special { color: #FF9E59; }

.cm-s-dk_dark .CodeMirror-cursor { border-left: 1px solid #B1D4C9; }  
.cm-s-dk_dark .CodeMirror-activeline-background { background: rgba(47, 47, 52, 1); } 
.cm-s-dk_dark .CodeMirror-gutters { background: rgba(47, 47, 52, 1); border-right: 1px solid rgba(47, 47, 52, 1); } 
.cm-s-dk_dark .CodeMirror-guttermarker { color: #FFEE80; }  
.cm-s-dk_dark .CodeMirror-guttermarker-subtle { color: #D0D0D0; }  
.cm-s-dk_dark .CodeMirror-linenumber { color: rgb(153, 153, 153); } 
.cm-s-dk_dark .CodeMirror-matchingbracket { background: #3B514D; color: #FFEF28 !important; font-weight: bold; } 

.cm-s-dk_dark div.CodeMirror-selected { background: #007ACC; opacity: 0.5; }  

.CodeMirror-hints.dk_dark {
    color: #9C9E9E;
    background: #3B3E3F !important;
}

.CodeMirror-hints.dk_dark .CodeMirror-hint-active {
    background: #494D4E !important;
    color: #9C9E9E !important;
}
